<footer class="footer">
    <div class="content has-text-centered">
        <p>Khalid Alharbi, Ph.D.</p>
        <p>{{$.Page.Site.Data.meta.name}}</p>
        <p>{{$.Page.Site.Data.meta.department}}</p>
        <p>{{$.Page.Site.Data.meta.college}}</p>
        <p>{{$.Page.Site.Data.meta.university}}</p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="This work is licensed under a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License">
            <img alt="Creative Commons License" width="64" height="31" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
        </a>
        <br/>
        <a href="https://gohugo.io" title="Made with Hugo" >
            <img src="/images/made-with-hugo-dark.png" alt="Made with Hugo" width="128" height="128">
        </a>
    </div>
</footer>

</body>

</html>