.footer {
    color: #ffffff;
    background-color: #1496ed;
    padding: 1rem;
}

footer.footer div.content p {
    margin: 0em;
}

h1.hero-title {
    color: #000 !important;
}

.date-item {
    color: #777777;
}

.table tr.is-selected {
    background-color: #1496ed8a;
    color: #000;
}

.table tr td.event_col {
    border-style: none;
}

.is-passed {
    background-color: #e2f7f4;
}

a.slide-link {
    text-decoration: underline;
}

ul.readings-list li {
    list-style-type: square;
}

a.white-link {
    color: #ffffff;
}

a.white-link:visited {
    color: #ffffff;
}

.ms-teams-button {
    color: #6264a7;
}

.to-right {
    float: right;
}

#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #eee;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li,
#toc_container ul,
#toc_container ul li {
    list-style: outside none none !important;
}

.lab-10-cards {
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
}

.lab-10-cards img {
    border: 2px solid black;
    border-radius: 25px;
    margin-right: 10px;
    padding: 10px;
}

.gh-classroom-submission-button {
    margin: 5px;
}