{{ partial "header.html" . }}

<section class="section">
    <div class="to-right">
        <a href="https://gitlab.com/cpit252/cpit252.gitlab.io/edit/main/content/{{ .File.Path }}" target="_blank"
            class="edit-page icon-pencil">
            <i class="far fa-edit"></i>
            Edit Page
        </a>
    </div>
    <div class="container">
        {{ if ne .File.Dir  "/" }}
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/{{ .File.Dir }}">{{ substr .File.Dir 0 -1 }}</a></li>
                <li class="is-active"><a href="/{{ .File.Dir }}{{ .File.BaseFileName }}/" aria-current="page">{{
                        .File.BaseFileName }}</a></li>
            </ul>
        </nav>
        <hr>
        {{ end }}
        <h1 class="title">{{ .Title }}</h1>
        {{ if and (gt .WordCount 200 ) (ne .Params.toc false) }}
        <aside id="toc_container">
            <h2 class="subtitle" id="toc_title">Table of Content</h2>
            {{ .TableOfContents }}
        </aside>
        {{ end }}
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</section>
{{ partial "footer.html" . }}