<div id="main" style="text-align: center;">
  <img width="248px" height="128px" src="/images/cpit-252.png">
  <h1> Oops! 404 Not Found.</h1>
  <p> Sorry, the page you requested is not found!</p>
  
  <div>
    <p><a href="{{ "/" | relURL }}">Go back to the home page</a></p>
  </div>
</div>