<article class="message is-link">
    <div class="message-header">
        <p>Submission Instructions</p>
    </div>

    <br>

    <div class="box">
        <h2>Submit on GitHub Classroom</h2>
        {{ range .Params }}
        {{ $arg := split . "=" }}
        {{ $section := index $arg 0 }}
        {{ $link := index $arg 1 }}

        <a class="bd-sl-button button is-link gh-classroom-submission-button" data-social-network="GitHub"
            data-social-action="github" data-social-target={{$section}} target="_blank" href={{$link}}>
            <span class="icon">
                <i class="fab fa-github"></i>
            </span>
            <span>
                Section: {{ $section }}
            </span>
        </a>
        {{ end }}
        <br>
        <p style="margin-top: 20px;">
            If your instructor is using GitHub classroom, then you should click on your class submission link,
            link your GitHub username to your name if you have not already done so, accept the assignment, clone the
            repository into your local
            development environment, and push the code to the remote repository on GitHub. Please make sure that your
            written
            answers are included in either a README (Markdown) file or a PDF file.
        </p>
        <article class="message is-dark">
            <div class="message-body">
                <p><strong>Lab dues dates are listed on GitHub classroom unless otherwise
                        noted.</strong></p>
                <p>If your instructor is using GitHub classroom, your submission will be
                    auto-graded
                    by running the included unit tests as well as manually graded for correctness, style, and quality.
                </p>
            </div>
        </article>
        <h2>How to submit your lab to GitHub Classroom</h2>
        <p>The video below demonstrates how to submit your work to GitHub classroom</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/--x1yIj44-o" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
</article>