<a href="{{.Get 0}}" target="_blank" class="button is-link is-outlined">

    <span class="icon">
        <i class="fab fa-gitlab"></i>
    </span>
    <span>
        View the complete source code on GitLab
    </span>
</a>